# Nginx Settings
DOMAIN=localhost
NGINX_PORT=443

# Postgres settings
DB_NAME=lux
DB_USER=lux
DB_PASSWORD=c00l_p@ssw0rd
DB_HOST=db
DB_PORT=5432

# Django setup
SECRET_KEY=secret
API_PORT=8000
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=TRUE

# Celery Stuff (And redis Ig.)
REDIS_HOST=redis
REDIS_PORT_IN=6379
REDIS_PORT_OUT=6380
REDIS_PASSWORD=""
CELERY_BEAT_SCHEDULE_FILEPATH="./beat_schedule.json"

# Media folders
MEDIA_PORT=8000
DZ_FOLDER="./media/"
ARCHIVE_FOLDER="./media/archive/"