# Core Django REST w/ JWT support.
Django
djangorestframework
djangorestframework-simplejwt 

# API utilities
django-cors-headers

# Testing
pytest-django
Faker

# Production server
gunicorn

# Database
psycopg2-binary

# Scheduled Tasks
django-q2

# QR Code generation
qrcode[pil]

# Timezone support
pytz